a,
body,
center,
code,
div,
footer,
html,
i,
img,
p,
q,
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	max-width: 100vw;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scrollbar-face-color: #646464;
	scrollbar-base-color: #646464;
	scrollbar-3dlight-color: #646464;
	scrollbar-highlight-color: #646464;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #646464;
	scrollbar-darkshadow-color: #646464;
	scroll-behavior: smooth;
	max-width: 100%;
	margin: 0;
}

::-webkit-scrollbar {
	width: 8px;
	height: 3px;
}

::-webkit-scrollbar-button {
	background-color: #666;
}

::-webkit-scrollbar-track {
	background-color: #646464;
}

::-webkit-scrollbar-track-piece {
	background-color: #000;
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #666;
	border-radius: 3px;
}

::-webkit-scrollbar-corner {
	background-color: #646464;
}

::-webkit-resizer {
	background-color: #666;
}

body {
	margin: 0;
	background-color: #141414;
	width: 100vw;
	max-width: 100%;
}

.me {
	color: #fff;
	text-align: center;
	font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 3.4vh;
	font-weight: 700;
	margin: 0;
	letter-spacing: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mainContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	position: relative;
}

.line {
	min-width: 250px;
	width: 49.5vh;
	max-width: 55%;
	height: 0.211vh;
	background-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lineLast {
	min-width: 250px;
	width: 17vw;
	max-width: 55%;
	height: 0.211vh;
	background-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (orientation: portrait) {
	.lineLast {
		min-width: 25%;
		width: 15vh;
	}
}

.typewrite {
	color: #fff !important;
	font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 1.68vh;
	line-height: 0;
	letter-spacing: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.boxContainerLast {
	margin-top: 0.5vh;
	min-width: 250px;
	width: 10vw;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.boxLast {
	height: 1.5vw;
	width: 1.5vw;
	display: inline-block;
	margin-right: 5%;
	margin-left: 5%;
	&:hover {
		transform: scale(1.05);
	}
}

@media screen and (orientation: portrait) {
	.boxLast {
		height: 3vh;
		width: 3vh;
		max-width: 100%;
	}
}

.icon100 {
	height: 100%;
	width: 100%;
	fill: #fff;
}

.w-vmax-25 {
	width: 25vmax;
}

.w-vmax-20 {
	width: 20vmax;
}

.h-35 {
	height: 30%;
}

@media screen and (orientation: portrait) {
	.portrait-h-75 {
		height: 75% !important;
	}
}

.media-button {
	transition: transform 100ms ease-out;
	&:hover {
		transform: scale(1.05);
		transition: transform 100ms ease-in;
	}
}

.column {
	background-color: #080808;
	display: inline-block;
	position: relative;
	transition: background-color 0.4s ease-out;
	&:hover {
		background-color: #141414;
		transition: background-color 0.4s ease-in;
	}
}

@media screen and (orientation: portrait) {
	.column:hover {
		background-color: #080808;
	}
}

.imageCanvas {
	height: 33vh;
	max-height: 33vh;
	background-color: #000;
	background-image: url(https://via.placeholder.com/1920x1080);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
}

.imageCanvasMid {
	background-image: url(../images/m.png) !important;
}
.arrowContainerDown {
	width: 100%;
	max-width: 100vw;
	height: 6vh;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	bottom: 0;
}

.arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 1.4vh;
	width: 1.4vh;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	position: absolute;
	-ms-flex-item-align: center;
	align-self: center;
}

@media screen and (orientation: landscape) {
	.notVisible {
		visibility: hidden;
		display: none;
	}
}

@media screen and (orientation: landscape) {
	.ReverseNotVisible {
		visibility: visible;
	}
}

@media screen and (orientation: portrait) {
	.ReverseNotVisible {
		visibility: hidden;
		display: none;
	}
}

.textBox {
	position: absolute;
	color: #fff;
	display: inline-block;
	width: 100%;
}

.title {
	font-weight: 700;
	text-align: center;
	font-size: 3vh;
	font-family: 'Encode Sans Condensed', sans-serif;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
}

.actualText {
	text-align: left;
	margin-left: 10vw;
	margin-right: 10vw;
	font-family: 'Encode Sans Condensed', sans-serif;
}

@media screen and (orientation: landscape) {
	.actualText {
		font-size: 1.4vw;
		margin-left: 3vw;
		margin-right: 3vw;
	}
}

@media screen and (orientation: portrait) {
	.actualText {
		font-size: 3.5vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

.buttonContainer {
	width: 100%;
	height: 5.1vh;
	text-align: center;
	position: absolute;
	margin-top: 10vh;
}

.page3Text {
	color: #fff;
	font-family: 'Encode Sans Condensed', sans-serif;
	font-weight: 700;
	margin: 0;
	font-size: 4vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.reachOutDuuud {
	color: #fff;
	margin: 0;
	font-family: 'Encode Sans Condensed', sans-serif;
	font-weight: 700;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 2.4vh;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.footerText {
	margin: 0;
	color: #fff;
	font-family: 'Encode Sans Condensed', sans-serif;
	padding: 1vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 2vh;
	font-weight: 700;
}

@media screen and (orientation: landscape) {
	.effect-shine:hover {
		mask-image: linear-gradient(
			-75deg,
			rgba(0, 0, 0, 0.6) 30%,
			#000 50%,
			rgba(0, 0, 0, 0.6) 70%
		);
		-webkit-mask-image: linear-gradient(
			-75deg,
			rgba(0, 0, 0, 0.6) 30%,
			#000 50%,
			rgba(0, 0, 0, 0.6) 70%
		);
		mask-size: 200%;
		-webkit-mask-size: 200%;
		-webkit-animation: shine 2s infinite;
		animation: shine 2s infinite;
	}
}

@media screen and (orientation: portrait) {
	.effect-shine {
		mask-image: linear-gradient(
			-75deg,
			rgba(0, 0, 0, 0.6) 30%,
			#000 50%,
			rgba(0, 0, 0, 0.6) 70%
		);
		-webkit-mask-image: linear-gradient(
			-75deg,
			rgba(0, 0, 0, 0.6) 30%,
			#000 50%,
			rgba(0, 0, 0, 0.6) 70%
		);
		mask-size: 200%;
		-webkit-mask-size: 200%;
		-webkit-animation: shine 2s infinite;
		animation: shine 2s infinite;
	}
}

@keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}
	to {
		-webkit-mask-position: -50%;
	}
}

.bold {
	font-weight: 700;
}

.border-radius-30px {
	border-radius: 30px;
}

.font-encode-sans-condensed {
	font-family: 'Encode Sans Condensed', sans-serif;
}

.btn-circle {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding: 0;
	border-radius: 50%;
	background-color: #141414;
	border-color: #141414;
	&:hover {
		background-color: #080808;
		border-color: #080808;
	}
}

.btn-circle-alt {
	background-color: #080808 !important;
	border-color: #080808 !important;
	&:hover {
		background-color: #141414 !important;
		border-color: #141414 !important;
	}
}

@media screen and (orientation: portrait) {
	.btn-port {
		background-color: #080808;
		border-color: #080808;
		&:hover {
			background-color: #141414;
			border-color: #141414;
		}
	}
}
