html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    max-width: 100vw;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-darkshadow-color: #646464;
    scroll-behavior: smooth;
    max-width: 100%;
    margin:0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #666;
}

::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-track-piece {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #646464;
}

::-webkit-resizer {
    background-color: #666;
}

body {
    margin: 0px;
    background-color: #141414;
    width: 100vw;
    max-width: 100%;
}

.me {
    color: white;
    text-align: center;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 3.4vh;
    margin: 0;
    letter-spacing: 2px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
}

.line {
    min-width: 250px;
    width: 49.5vh;
    max-width: 55%;
    height: 0.211vh;
    background-color: white;
}

.typewrite {
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 1.68vh;
    line-height: 0;
    letter-spacing: 5px;
}

.boxContainer {
    margin-top: 0.3%;
    min-width: 250px;
    width: 25vw;
}

.box {
    height: 1.7022vw;
    width: 1.7022vw;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    min-width: 32px;
    min-height: 32px;
}

.icon100 {
    height: 100%;
    width: 100%;
}

.pageNew3box {
    background-color: #080808;
    display: inline-block;
    position: relative;
}

@media screen and (orientation: portrait) {
    .pageNew3box {
        height: 100vh;
        width: 100vw;
        max-width: 100%;
    }
}

@media screen and (orientation: landscape) {
    .pageNew3box {
        height: 100vh;
        width: 33%;
        max-width: 33%;
    }
}

@media screen and (orientation:portrait) {
    #mid {
        width: 100vw;
        max-width: 100%;
    }
}

@media screen and (orientation: landscape) {
    #mid {
        width: 34vw;
        max-width: 34%;
    }
}

.pageNew3box:hover {
    background-color: #141414;
}

.imageCanvas {
    height: 33vh;
    max-height: 33vh;
    background-color: #000000;
    background-image: url("https://via.placeholder.com/1920x1080");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.arrowContainerDown {
    width: 100%;
    max-width: 100vw;
    height: 6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.arrow {
    display: flex;
    height: 1.4vh;
    width: 1.4vh;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(135deg);
    position: absolute;
    align-self: center;
}

@media screen and (orientation:landscape) {
    .notVisible {
        visibility: hidden;
    }
}

@media screen and (orientation:landscape) {
    .ReverseNotVisible {
        visibility: visible;
    }
}

@media screen and (orientation:portrait) {
    .ReverseNotVisible {
        visibility: hidden;
    }
}


.textBox {
    position: absolute;
    color: white;
    display: inline-block;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 3vh;
    font-family: 'Encode Sans Condensed', sans-serif;
}

.actualText {
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: 'Encode Sans Condensed', sans-serif;
}

@media screen and (orientation:landscape) {
    .actualText {
        font-size: 1.4vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}

@media screen and (orientation:portrait) {
    .actualText {
        font-size: 3.5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

.buttonContainer {
    width: 100%;
    height: 5.1vh;
    text-align: center;
}

.projectButton {
    border: white solid;
    border-width: 0.1vh;
    width: 6vw;
    height: 4.5vh;
    display: inline-block;
    font-size: 0.9vw;
    margin-right: 1vw;
    margin-left: 1vw;
    font-family: 'Encode Sans Condensed', sans-serif;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    line-height: 4.5vh;
}

@media screen and (orientation:portrait) {
    .projectButton {
        height: 5vh;
        line-height: 5vh;
        width: 20vw;
        
    }
}

.redButton:hover {
    background-color: #f44336;
    color: black;
    -webkit-transition: background-color 750ms ease-in;
    -ms-transition: background-color 750ms ease-in;
    transition: background-color 750ms ease-in;
    -webkit-transition: color 500ms ease-in;
    -ms-transition: color 500ms ease-in;
    transition: color 500ms ease-in;
}

.blueButton:hover {
    background-color: #2196F3;
    color: black;
    -webkit-transition: background-color 750ms ease-in;
    -ms-transition: background-color 750ms ease-in;
    transition: background-color 750ms ease-in;
    -webkit-transition: color 500ms ease-in;
    -ms-transition: color 500ms ease-in;
    transition: color 500ms ease-in;
}

@media screen and (orientation:portrait) {
    .projectButton {
        font-size: 2.4vh;
    }
}