.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: #000000;
  border: 0.125rem solid #ffffff;
  box-sizing: border-box;

  &-image {
    width: 100%;
    content-visibility: auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;

    div:not(:first-child) {
      margin-top: 0.5rem;
    }

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.875rem;
    }

    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.125rem;
    }
  }

  &-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    margin-top: auto;

    .icon-link:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
