.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px;

  @media (max-width: 768px) {
    padding: 48px;
  }

  div:not(:first-child) {
    margin-top: 16px;
  }

  &-title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &-social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;

    *:not(:first-child) {
      margin-left: 16px;
    }
  }
}
