.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;

  @media (max-width: 768px) {
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }

  div:not(:first-child) {
    margin-top: 1rem;
  }

  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &-text {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;

    @media (max-width: 768px) {
      font-size: 1.125rem;
    }
  }

  &-social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;

    *:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
