.main {
  max-width: 1440px;
  margin: 0 auto;
  color: white;

  @media (max-width: 1024px) {
    padding: 2rem;
  }

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}
