.hero__container {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  @media (max-width: 1024px) {
    padding: 3rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
}

.hero__links {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  gap: 1rem;

  @media (max-width: 1024px) {
    margin-top: 0.5rem;
  }
}

.hero__icon {
  cursor: pointer;

  @media (max-width: 1024px) {
    height: 40px;
    width: auto;
    object-fit: contain;
  }
}

.hero__mail_container {
  position: relative;

  &:hover {
    .tooltip {
      display: initial;
    }
  }
}

.tooltip {
  position: absolute;
  display: none;
  left: 50%;
  top: -80px;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;

  &:hover {
    display: initial;
  }
}

.tooltip__filler {
  height: 21px;
}

.tooltip__inner_container {
  background: #f0f0f0;
  padding: 8px;
  border-radius: 5px;
}

.tooltip__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
