.hero__container {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  @media (max-width: 1024px) {
    padding: 3rem;
  }
  
  @media (max-width: 768px) {
    padding: 2rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  
  @media (max-width: 1024px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.hero__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  
  @media (max-width: 1024px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.hero__links {
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  gap: 5mm;

  .hero__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5mm;
    cursor: pointer;
  }

  .hero__link_text {
    writing-mode: vertical-rl;
    pointer-events: none;
  }

  @media (max-width: 1024px) {
    margin-top: 0.5rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    .hero__link {
      flex-direction: row;
      align-items: center;
      gap: 2.5mm;
    }

    .hero__link_text {
      writing-mode: horizontal-tb;
    }
  }
}

.hero__icon {
  cursor: pointer;
  transition: transform 0.15s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.hero__mail_container {
  @extend .hero__link;
  position: relative;

  &:hover {
    .tooltip {
      display: initial;
    }
  }
}

.tooltip {
  position: absolute;
  display: none;
  left: 50%;
  top: -80px;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;

  &:hover {
    display: initial;
  }
}

.tooltip__filler {
  height: 21px;
}

.tooltip__inner_container {
  background: #f0f0f0;
  padding: 8px;
  border-radius: 5px;
}

.tooltip__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
