.icon-link {
  shape-rendering: geometricPrecision;
  transition: transform 0.1s ease-in-out;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;

  &:hover {
    transform: translate3d(0, 0, 0) scale(1.1);
  }
}
