html,
body {
  padding: 0;
  margin: 0;
}

html {
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
}

/* View Transition Animations */
::view-transition-group(*) {
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.3s;
}

/* Appear animated */
#fancy-background {
  animation: appear 1s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
