.container {
  //background: rgba(0, 0, 0, 0.85);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px 100px rgba(0, 0, 0, 0.5);

  @media (max-width: 1024px) {
    background: rgba(0, 0, 0, 0.25);
  }
}

.page {
  min-height: calc(100dvh - (32px + 3rem));
  display: flex;
  flex-direction: column;
  padding-bottom: 133px;

  @media (max-width: 768px) {
    padding-bottom: 64px;
    min-height: calc(100dvh - (32px + 2rem));
  }
}
